{% extends 'base.html' %} {% block content %}
<h3 style="margin-bottom: 30px">Створюємо новий предмет</h3>

<form action="/subjects/add" method="POST">
  <select name="teacherId" id="teacherId">
    {% for teacher in teachers %}
    <option type="text" value="{{teacher['id']}}">{{ teacher['name'] }}</option>
    {% endfor %}

    <option type="text" value="" selected disabled>Оберіть викладача</option>
  </select>
  <a href="/teachers">Додати викладача</a>

  <input type="text" name="name" id="name" />
  <input type="text" name="place" id="place" />

  <button type="submit">Створити</button>
</form>

{{subjects}} {% endblock %}
