{% extends 'base.html' %} {% block content %}

<a href="/schedules">Переглянути розклад</a>

<form id="form" action="/pairs" method="GET">
  <select name="teacherId" id="teacherId">
    {% for teacher in teachers %}
    <option value="{{teacher['id']}}">{{teacher['name']}}</option>
    {% endfor %}
    <option value="0" selected disabled>Оберіть Себе</option>
  </select>

  <a href="/teachers">Додати викладача</a>

  <button id="button" type="submit">Далі</button>

  <div id="pairs">
    <p>Тут з'являться ВАШІ пари після натискання кнопки "ДАЛІ"</p>
    <a href="/pairs">Додати нову пару</a>
  </div>
</form>

<script>
  const form = document.getElementById('form')
  const submitButton = form.querySelector('button[type="submit"]')
  const select = form.querySelector('select')

  submitButton.onclick = (e) => {
    e.preventDefault()

    fetch('/pairs/' + select.value)
      .then((res) => {
        return res.json()
      })
      .then((data) => {
        pairs.innerHTML = data.length
          ? `
          <h3>Ваші пари:</h3>
          <pre>${JSON.stringify(data, null, 2)}</pre>`
          : '<h3>Для вас не заплановано пар</h3>'

        pairs.innerHTML += '<a href="/pairs">Додати нову</a>'
      })
  }
</script>

{% endblock %}
